<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>lubao_gaoxiang.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AA230BEE1C74311500CC7274</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA230C021C74311500CC7274</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA230C0D1C74311500CC7274</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
